<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="rpcServiceProxyBeanFactoryOption"
          class="com.xxx.rpclite.client.RpcServiceProxyBeanFactoryOption"
          p:remoteAddress="localhost:8888"/>

    <bean id="userRpcService" class="com.xxx.rpclite.client.RpcServiceProxyBeanFactory"
          factory-method="getBean">
        <constructor-arg name="clazz" type="java.lang.Class"
                         value="com.xxx.rpc.service.UserService"/>
        <constructor-arg name="option" ref="rpcServiceProxyBeanFactoryOption"/>
    </bean>

    <bean id="accountService" class="com.xxx.rpclite.client.RpcServiceProxyBeanFactory"
          factory-method="getBean">
        <constructor-arg name="clazz" type="java.lang.Class"
                         value="com.xxx.rpc.service.AccountService"/>
        <constructor-arg name="option" ref="rpcServiceProxyBeanFactoryOption"/>
    </bean>

</beans>
